<section id="cover">
  <div class="container">
    <h1 class="flex"><span class="text-nowrap">開放政府</span> <span class="text-nowrap">協作會議</span></h1>
    <span class="title-en"><%- page.cover.title_en %></span>
    <p><%- page.cover.content %></p>
    <a class="btn btn-primary px-4 py-2 rounded-pill" href="#achievement"
      ><%- page.cover.go_achievement %></a
    >
  </div>
  <div
    class="bg"
    style="background: url('/image/<%- page.cover.bg_image %>')"
  ></div>
</section>
